::before,
::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

input,
button,
textarea,
select {
  font: inherit;
}


.feedback-form {
  display: flex;
  flex-direction: column;

  margin-top: 40px;
  margin-left: 40px;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
}

.label {
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 8px;
}

.input {
  width: 360px;
  height: 40px;
}

.input:hover {
  width: 360px;
  height: 40px;
  border-color: black;
  border-radius: 4px;
}
/* 
.input:active {
    background:;
} */

.textarea {
  position: relative;
  width: 360px;
  height: 80px;
  border-radius: 4px;
  resize: none;
}
.button {
  background-color: #4e75ff;
  color: #ffffff;
  border-style: none;
  margin-top: 8px;
  width: 95px;
  height: 40px;
  border-radius: 8px;
  padding: 8px, 16px, 8px, 16px;
}

.button:hover {
    background-color: #6C8CFF;
    ;
}